extends common/layout 

block layout-content 
	h1(class="display-2") Men's 
	div(class="container")
		div(class="row")
			each offer in view 
				div(class="col-md-4")
					div(class="card" style="width=2rem;")
						img(src=offer.image style="height: 400px; width: auto;")
						div(class="card-body")
							h5(class="card-title") #{offer.size} #{offer.color} #{offer.name} 
							p(class="card-text") Price: #{offer.price} 
